*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#one {
border-radius: 50%;
width: 600px;
height: 600px;
background-color: orange;
position: absolute;
border: 50px solid;
border-color: red;
}

.two {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: green;
    position: absolute;
    border: 50px solid;
    border-color: yellow;
    margin: 100px;
    }

    .three {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    margin: 200px;
    position: absolute;
    border: 50px solid;
    border-color: royalblue;
    }