* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav a:nth-child(even) {
    background-color: grey;

}

span span span{
    background-color: red;
}

body > p:last-child{
    padding-top: 20%;
}